:root {
  --white: white;
  --black: black;
}

[data-theme="light"] {
  --background-color: var(--white);
  --color: var(--black);
}

[data-theme="dark"] {
  --background-color: var(--black);
  --color: var(--white);
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

nav {
  height: 50px;
  background-color: chartreuse;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-section {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding-left: 30px;
}

.dynamic-router-button {
  height: 50px;
  width: 200px;
  background-color: rgb(185, 134, 142);
  border: none;
  cursor: pointer;
}
