[data-theme="light"] {
  --background-color: white;
  --color: black;
}

[data-theme="dark"] {
  --background-color: black;
  --color: white;
}


body {
  background-color: var(--background-color);
  color: var(--color)
}

nav {
  height: 50px;
  background-color: chartreuse;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-section {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding-left: 30px;
}