.accordion-container {
    padding: 20px 50px;

}

.accordion-heading {
    height: 30px;
    width: 50%;
    background-color: khaki;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
}

.accordion-description {
    padding: 10px 20px;
    width: 50%;
    background-color: rgb(199, 190, 112);
}