.toast-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.toast {
  color: green;
  border: solid black 1px;
  height: 50px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  background-color: #fff; /* Added background color for better visibility */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  border-radius: 5px; /* Rounded corners */
}

.toast-list-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cancel-button {
  border: none;
  padding: 5px;
  background-color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
}
